In [2]:
# import needed packages 
import pandas as pd

In [3]:
# Read the dataset
df =pd.read_csv('StepStone_data')

In [4]:
# See the top 5 records at the dataset
df.head()

,Unnamed: 0,title,job_description
0,0,Data Scientist (m/w/d) Vertriebssteuerung,Willkommen in der ARAG Familie!Weshalb Sie bei...
1,1,Data Scientist (m/w/d),AOK Nordost. Die Gesundheitskasse.\nDie AOK No...
2,2,Data Scientist (w/m/d),Arbeitsort: Wiesbaden\nArbeitsumfang: Vollzeit...
3,3,Data Scientist Geldwäscheprävention (m/w/d),Über AtruviaWir sind der Digitalisierungspartn...
4,4,Data Scientist/Analyst prüfungsnahe Beratung/Q...,"Bei EY setzen wir alles daran, dass die Welt b..."

In [14]:
# Drop duplicates 
df['job_description'].drop_duplicates(inplace=True)

In [ ]:
# Check duplicates are present at in the dataset 
df.duplicated().sum()

In [16]:
# Drop Null values 
df.dropna(inplace = True)

In [17]:
df.shape

(754, 3)

In [18]:
df['job_description'] = df['job_description'].str.replace('\n'," ")

In [40]:
technologies = ['python','r','excel', 'tableau', 'power', 'bi', 'agil', 'sql', 'postgresql','sas','apache' 'spark', 
                'github', 'git','aws','microsoft azure', 'powerpoint', 'word', 'sheets', 'sqlite', 'bigquery', 'sql-datenbanken', 
                'sql-kenntnisse','r-studio','apache', 'spark','r stats','c++', 'c#', 'powerbi', 'mysql','english', 'german']

In [29]:
technologies_count = {}
for description in df['job_description']:
    
    for word in description.split():
        word = word.lower()
        if word in technologies:
            technologies_count[word] = technologies_count.get(word, 0) + 1

In [30]:
technologies_count

{'power': 92,
 'bi': 116,
 'r': 47,
 'python': 180,
 'sql': 108,
 'agil': 15,
 'sas': 20,
 'spark': 31,
 'apache': 41,
 'aws': 45,
 'tableau': 18,
 'c#': 11,
 'c++': 13,
 'git': 9,
 'sql-datenbanken': 3,
 'excel': 49,
 'powerpoint': 9,
 'bigquery': 5,
 'sql-kenntnisse': 7,
 'powerbi': 10,
 'word': 3,
 'postgresql': 5,
 'github': 2,
 'mysql': 1}

In [31]:
technologies_data = pd.DataFrame(technologies_count)

ValueError: If using all scalar values, you must pass an index

In [32]:
technologies_count.rename({'index': "technologie", 0: 'count'}, axis = 1, inplace= True)

AttributeError: 'dict' object has no attribute 'rename'

In [33]:
sql_list = ['sql-kenntnisse', 'sql-datenbanken','postgresql','mysql']

In [34]:
technologies_data.where( technologies_data['technologie'] in sql_list, technologies_data['technologie'].rename('sql', axis = 0))

NameError: name 'technologies_data' is not defined

In [41]:
def find_keys(df):

    df['title'].drop_duplicates(inplace=True)
    df.dropna(inplace = True)
    df['job_description'] = df['job_description'].str.replace('\n',"")
    technologies_count = {}

    power_value = None
    for description in df['job_description']:
        
        for word in description.split():
            word = word.lower()
            
            if word == 'power':
                power_value = 1

            if word in technologies:
                technologies_count[word] = technologies_count.get(word, 0) + 1

    return technologies_count

In [44]:
df_stepstone= pd.DataFrame(pd.DataFrame(pd.read_csv('StepStone_data')))
df_indeed = pd.DataFrame(pd.read_csv(r'C:\Users\Admin\Desktop\programming\data_science_technologies\Indeed_data'))

In [75]:
key_indeed = find_keys(df_indeed)

In [76]:
key_stepstone  = find_keys(df_stepstone)

In [77]:
for key in key_stepstone:
    key_indeed[key] = key_indeed.get(key,key_stepstone[key]) + key_stepstone[key]

In [78]:
key_all  = key_indeed

In [79]:
key_all

{'excel': 68,
 'r': 107,
 'bi': 216,
 'german': 280,
 'english': 266,
 'power': 204,
 'sql': 224,
 'python': 380,
 'spark': 60,
 'powerbi': 21,
 'aws': 103,
 'c#': 19,
 'github': 13,
 'tableau': 46,
 'powerpoint': 11,
 'sas': 29,
 'bigquery': 10,
 'apache': 70,
 'git': 23,
 'word': 7,
 'c++': 21,
 'sql-kenntnisse': 10,
 'agil': 22,
 'postgresql': 8,
 'mysql': 3,
 'sql-datenbanken': 5}

In [80]:
sql_list = ['sql-datenbanken','postgresql','sql-kenntnisse','bigquery','mysql']
for key in key_all:
    if key in sql_list:
        key_all['sql'] = key_all.get('sql',0) + key_all[key]

In [81]:
for i in sql_list:
    del key_all[i]

In [82]:
key_all

{'excel': 68,
 'r': 107,
 'bi': 216,
 'german': 280,
 'english': 266,
 'power': 204,
 'sql': 260,
 'python': 380,
 'spark': 60,
 'powerbi': 21,
 'aws': 103,
 'c#': 19,
 'github': 13,
 'tableau': 46,
 'powerpoint': 11,
 'sas': 29,
 'apache': 70,
 'git': 23,
 'word': 7,
 'c++': 21,
 'agil': 22}

In [83]:
del key_all['bi']

In [84]:
key_all['powerbi'] = key_all.get('powerbi',0)+ key_all['power']

In [85]:
del key_all['power']

In [86]:
key_all

{'excel': 68,
 'r': 107,
 'german': 280,
 'english': 266,
 'sql': 260,
 'python': 380,
 'spark': 60,
 'powerbi': 225,
 'aws': 103,
 'c#': 19,
 'github': 13,
 'tableau': 46,
 'powerpoint': 11,
 'sas': 29,
 'apache': 70,
 'git': 23,
 'word': 7,
 'c++': 21,
 'agil': 22}

In [68]:
key_all = pd.Series(key_all)

In [71]:
key_all

excel          68
r             107
german        280
english       266
sql           260
python        380
spark          60
powerbi       225
aws           103
c#             19
github         13
tableau        46
powerpoint     11
sas            29
apache         70
git            23
word            7
c++            21
agil           22
dtype: int64

In [70]:
key_all.to_excel("Technology_demand")

ValueError: No engine for filetype: ''

In [87]:

with open('test.csv', 'w') as f:
    for key in key_all():
        f.write("%s,%s
"%(key,my_dict[key]))

SyntaxError: unterminated string literal (detected at line 3) (3094099862.py, line 3)

In [89]:
import csv
with open('Names.csv', 'w') as csvfile:
    writer = csv.DictWriter(csvfile)
    writer.writeheader()
    writer.writerows(key_all)

TypeError: DictWriter.__init__() missing 1 required positional argument: 'fieldnames'